<div class="list-group" ng-controller="openTicketsController">
    <div ng-repeat=" x in tickets">
        <button class = "list-group-item" ng:click="selectTicket(x)"> {{x.title}} </button>
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <a href="" ng-click="moreTickets()"> More tickets</a>
                </div>
            </div>
        </div>
    </footer>
</div>


