<div>

    <div class="col-md-6">
        <div class="text-center">
            <h3 class="section-heading text-center"> Last month topics </h3>
            <small class="text-center"> Click one topic to see more details</small>
        </div>
        <nvd3 options="options" data="data"></nvd3>
    </div>
    <div class="col-md-6">
        <div class="text-center">
            <h3 class="section-heading text-center"> Topics history </h3>
            <small class="text-center"> Click one topic to see more details</small>
        </div>
        <nvd3 options="options2" data="data2" ></nvd3>
    </div>

    <footer class="text-center">
        <div>
            <a ng-repeat="t1 in legend">
                <span class="badge" style="background-color: {{MY_CONSTANTS.colores[t1.id]}}"> {{t1.name}}</span>
            </a>
        </div>
    </footer>

    <button type="button" class="btn custom-btn-info btn-lg float-bottom-right" data-toggle="modal"
            data-target="#myModal">Help</button>

    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title text-center">Description</h4>
                </div>
                <div class="modal-body">
                    <p>In this view we can see all history of ticket we have in our system </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>




